# Ignore the node_modules folder within the frontend directory
ui/node_modules

# Ignore the node_modules folder within the frontend directory
ui/dist

.python-version
.venv
.vscode
.env
**/__pycache__/
*.db
dist
**/*.egg-info/