.python-version
.venv
.vscode
.env
**/__pycache__/
*.db
!sports_analytics.db
dist
**/*.egg-info/
.coverage
htmlcov
build/
**/*tfvars
**/.adk
**/*.tfstate
**/*.tfstate.backup
**/.terraform
**/.terraform.lock.hcl
**/.terraform.tfstate.lock.info
uploaded_files.txt
tests.txt