.python-version
.venv
.vscode
.env
**/__pycache__/
*.db
dist
**/*.egg-info/
.coverage
htmlcov
build/
**/*tfvars
**/*.tfstate
**/*.tfstate.backup
**/.terraform
**/.terraform.lock.hcl
**/.terraform.tfstate.lock.info
uploaded_files.txt